* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: verdana, arial, helvetica, sans-serif; */
}
html {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}
.promo {
  height: 800px;
  background: url('../word_press/img/main_bg.jpg') center center/ cover
    no-repeat;
  padding: 39px 0 62px 0;
}
.logo .logo_img {
  display: block;
  margin: 0 auto;
}
.logo .logo_text {
  color: #ffffff;
  /* font-family: 'Roboto'; */
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}
.title {
  color: #f9bf3b;
  /* font-family: 'Roboto'; */
  /* font-family: 'Roboto Black', sans-serif; */
  font-weight: 900;
  font-size: 41px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.simple .title_big {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 21px;
}
h1 {
  margin-top: 53px;
}
h2.title {
  margin-top: 30px;
}
.promo .promo_text {
  padding: 0 13px;
  /* font-family: 'Roboto Light'; */
  /* font-style: normal; */
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  margin-top: 23px;
  color: #ffffff;
}
.promo .promo_text span {
  color: #f9bf3b;
  /* font-family: 'Roboto - Bold'; */
  font-weight: 700;
}
.promo .promo_btn {
  /* font-family: 'RobotoCondensed'; */
  font-size: 21px;
  line-height: 24px;
  /* text-align: center; */
  display: block;
  margin: 73px auto;
  text-transform: uppercase;
  /* margin-top: 73px; */
  color: #ffffff;
  width: 313px;
  height: 72px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba (0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  outline: none;
}
.more {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  /* display: flex;
  align-items: center; */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  /* box-shadow: 0px 4px 4px 0px #00000040; */
  margin-top: 73px;
}
.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}
.waiting {
  min-height: 604px;
  background-color: #efefef;
  padding: 85 px 0 75 px;
}
.waiting .waiting_header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  /* line-height: 12px; */
  color: #252525;
  text-transform: uppercase;
  text-align: center;
  margin-top: 88px;
}
.waiting .waiting_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  display: block;
  margin: 0 auto;
  margin-top: 18px;
}
.waiting .waiting_subheader {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 17px;
}
.waiting .waiting_wrapper {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin-top: 33px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #4a4a4a;
}
.opimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}
.opimization .opimization_header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 30px;
  /* display: flex;
  align-items: center; */
  text-transform: uppercase;
  color: #299cbd;
  margin-left: 391px;
}
.opimization .opimization_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  /* display: flex; */
  /* align-items: center; */
  color: #4a4a4a;
  margin-left: 391px;
  margin-top: 25px;
}
.opimization .opimization_text span {
  font-weight: bold;
  font-weight: 700;
}
.opimization .opimization_img {
  position: absolute;
  top: -54px;
  left: -240px;
  z-index: -1;
}
.waiting_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  display: block;
  margin: 0 auto;
  margin-top: 18px;
}
.finish .waiting_header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  /* display: flex;
  align-items: center; */
  text-align: center;
  text-transform: uppercase;

  color: #efefef;
}
.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url('/word_press/img/second_bg.png') center center/ cover
    no-repeat;
}
.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
  max-width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  width: 118px;
  height: 118px;
  left: 1370px;
  top: 176px;
  margin: 0 auto;
  border-radius: 100%;
  background: #b4e2ff;
}
.finish .finish_wrapper .finish_item .finish_descr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* or 118% */
  /* display: flex;
  align-items: center; */
  text-align: center;
  margin-top: 25px;
  color: #efefef;
}
.gift {
  min-height: 631px;
  background: #efefef;
}
.gift .gift_img {
  display: block;
  margin: 0 auto;
  padding-top: 88px;
}
.gift .gift_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  /* display: flex;
  align-items: center; */
  text-align: center;
  color: #252525;
  /* width: 1261px;
  height: 113px; */

  /* padding-left: 100px; */
  margin-top: 51px;
}
.gift .promo_btn {
  font-family: 'RobotoCondensed';
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  display: block;
  margin: 73px auto;
  text-transform: uppercase;

  color: #ffffff;
  width: 313px;
  height: 72px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba (0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  outline: none;
  margin-top: 75px;
}
.first_web {
  min-height: 512px;
}

.first_web .first_img {
  display: block;
  margin: 0 auto;
  padding-top: 89px;
}
.first_web .string1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;

  text-align: center;
  text-transform: uppercase;
  margin-top: 36px;
  color: #252525;
}
.first_web .string2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  /* or 100% */
  /* display: flex;
  align-items: center; */
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  color: #299cbd;
}
.first_web .string3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
  text-align: center;
  margin-top: 24px;
  color: #4a4a4a;
}
.footer {
  /* width: 1922px; */
  width: 100%;
  height: 169px;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__container {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
}
.footer__links {
  display: flex;
  justify-content: center;
}

.footer__links a {
  text-decoration: underline;
}
.footer__links-divider {
  margin: 0 10px;
  color: #888888;
}
.footer__number {
}
.footer-link {
  text-decoration: none;
  color: #888888;
  transition: all 0.7s ease;
}
.footer-link:hover {
  color: #f0e4e4;
}
